# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.tlog
sysdiag/x64/Debug/sysdiag.tlog/inf2cat-expand.10748.read.1.tlog
sysdiag/x64/Debug/sysdiag.tlog/inf2cat-expand.10748.read.1.tlog
*.ipch
*.db
*.opendb
x64/Debug/sysdiag_x64.sys
x64/Debug/sysdiag_x64.cer
x64/Debug/sysdiag/tennn.cat
x64/Debug/sysdiag/sysdiag_x64.sys
x64/Debug/sysdiag/sysdiag.inf
x64/Debug/sysdiag.inf
sysdiag/x64/Debug/sysdiag.inf
*.log
.vs/re_sysdiag/v14/.suo
*.i64
*.vcxproj
*.filters
*.filters
hr_test/hr_test.vcxproj
*.asm
.vs/re_sysdiag/v14/.suo
hr_test/hr_test.cpp
hr_test/hr_test.vcxproj
*.filters
.vs/re_sysdiag/v14/.suo
*.dat
.vs/re_sysdiag/v14/.suo
